/*******
 BASIS
 MOBILE
 DESKTOP
*********/

:root {
    --Black:#000000; 
    --Light-white:#f2f2f2; 
    --Gray: #cccccc;
    --Light-gray: #dfdfdf;
    --Very-Darkgray: #484848; 
    --Blue: #0058a3;
}

/* ----------------  BASIS  ----------------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--Black)   ;
    font-family: 'Roboto', sans-serif;
}

.border {
    border-bottom: 1px solid var(--Light-gray);
}

.main-container { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrap {
    display: grid;
}

.header:hover{
    cursor: pointer;
}

.search-wrap {
    display: grid;
}

.search {
    border: 3px solid black;
    height: 50px; 
}

.flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.search img{
    margin: -10px;
    margin-right: 2px;
    width: 40px;
    grid-row: 1;
}

.search h2{
    height: 44px; 
    padding-top: 11px;
    padding-left: 5px;
    font-weight: 400;
    font-size: 16px;
    grid-row: 1;       
}

.search span img:hover{
    background-color: white;
}

.search h2:not(span):hover{
    background-color: var(--Gray); 
}

.logo {
    display: grid;
}

.logo img{
}

.bronden {
    display: grid;
}

.bronden h1 {
    padding: 10px;
    font-size: 28px;
}

.bronden p {
    padding: 10px;
}

.bronden p + p{
    padding: 10px;
    font-size: 28px;
    font-weight: 900;
}

.bronden p > span {
  text-decoration: underline;
}

.right-arrow{
   width: 32px;     
}

.hoe-text {
    display: grid;
}

.hoe-text img {
    width: 28px;
}

.kies {
    display: flex;
    flex-direction: column;
}

.kleur {
    width: 255px;
}

.kleur h2, .afmeting h2, .hoe h2{
    font-size: 20px;
    margin: 10px 0px;
}

.vloerkleed-images {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 30px 0px;
}

.vloerkleed-images img {   
   border: 1px solid var(--Light-gray);
   border-radius: 7px;
   margin-right: 4px;
}

.vloerkleed-images img:hover{
    cursor: pointer;
    border: 2px solid black;
}

.afmetingen {
    width: 296px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 65px;
}

.span {
    border: 1px solid var(--Light-gray);
    border-radius: 7px;
    padding: 3px 3px;
    text-decoration: underline;
}

.span:hover{
    cursor: pointer;
    border: 1px solid black;
}

.afmetingen .span > p{
    font-size: 16px;
}

.productinfo {
    grid-area: productinfo;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.productinfo:hover {
    cursor: pointer;
}

.productinfo p {    
    font-size: 30px;
}

.productinfo img {
    float: right;
}

.hoe {
    grid-area: hoe;
}

.hoe .border{
    margin-bottom: 30px;
}

.hoe-text {
    display: grid;
    grid-template-columns: 50px 1fr;
    border: 1px solid var(--Light-gray);
    border-radius: 5px; 
    grid-auto-rows: 25px;
    margin-top: 20px;
}

.hoe-text h3, .hoe-text p{
    font-size: 16px;
}

.hoe-text h3{
    padding-top: 1px;
}

.hoe-text p {
    grid-column: 2;  
}  

.hoe-text p > span {
    text-decoration: underline;
}

button {    
    color: white;
    background-color: var(--Blue);
    border: 0;
    border-radius: 5px;
    width: 400px;
    height: 70px;
    font-size: 18px;
    font-weight: 900;
    margin: 10px 0px;
}

button:hover {
    cursor: pointer;
}

/* ----------------  MOBILE  ----------------*/

@media only screen and (max-width: 499px) {

    body {
     height: auto;
    }
 
     .main-container {
         width: 360px;
         background-color: white;
      }
 
     .wrapper {
         display: grid;
         grid-template-columns: 360px;
         grid-template-areas: 
           "header-wrap"
           "search-wrap"
           "logo"
           "bronden"
           "vloerkleed-1"
           "vloerkleed-2"
           "tekst"
           "kies"
           "productinfo"
           "hoe";
     }

     .header {
        display: flex;
        justify-content: space-between;
        width: 360px;
    } 
    
    .header h2 { 
        font-size: 18px;
        padding: 20px 0;
    }
 
     .header-wrap {
         grid-area: header-wrap;
     }
     
     .search-wrap {
         grid-area: search-wrap; 
     }
     
     .search img{
         padding-left: 0;
         width: 40px;
         float: right;
     }
     
     .search h2{
         width: 320px; 
         padding-left: 5px;
         font-weight: 400;
         font-size: 16px;
     }
     
     .logo {
         grid-area: logo;
     }
 
     .logo img{
        width: 360px;
        padding: 15px 0;
        height: 220px;
        object-fit: cover;
     }   
     
     .vloerkleed-1 img {
         grid-area: vloerkleed-1;
         width: 360px;
         height: 250px;
         object-fit: cover;
         object-position: 0px -135px;
     }
     
     .vloerkleed-2 {
         height: 250px;
         overflow: hidden;
         margin-top: 5px;
     }
 
     .vloerkleed-2 img {
         grid-area: vloerkleed-2;
         width: 360px;
         height: 250px;
         object-fit: cover;
         object-position: 0px 0px;
         zoom: 111%;           
     }
     
     .tekst {
         grid-area: tekst;
     }
         
     .tekst p {
         font-size: 20px;
         margin-top: 35px;
         margin-bottom: 20px;
     }    

     .productinfo {
        width: 360px;
    }
 
     button {
         width: 360px;
         margin-top: 5px;      
     }
 }

@media only screen and (min-width: 500px){

   body {
    height: auto;
   }

    .main-container {
        width: 475px;
        background-color: white;
     }

    .wrapper {
        display: grid;
        grid-template-columns: 450px;
        grid-template-areas: 
          "header-wrap"
          "search-wrap"
          "logo"
          "bronden"
          "vloerkleed-1"
          "vloerkleed-2"
          "tekst"
          "kies"
          "productinfo"
          "hoe";
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 450px;
    }  
    
    .header h2 { 
        font-size: 20px;
        padding: 20px 0;
    }

    .header-wrap {
        grid-area: header-wrap;
    }
    
    .search-wrap {
        grid-area: search-wrap; 
    }
    
    .search img{
        padding-left: 0;
        width: 40px;
        float: right;
    }
    
    .search h2{
        width: 400px; 
        padding-left: 5px;
        font-weight: 400;
        font-size: 16px;
    }
    
    .logo {
        grid-area: logo;
    }

    .logo img{
       width: 450px;
       padding: 15px 0;
       height: 220px;
       object-fit: cover;
    }   
    
    .vloerkleed-1 img {
        grid-area: vloerkleed-1;
        width: 450px;
        height: 250px;
        object-fit: cover;
        object-position: 0px -135px;
    }
    
    .vloerkleed-2 {
        height: 250px;
        overflow: hidden;
        margin-top: 5px;
    }

    .vloerkleed-2 img {
        grid-area: vloerkleed-2;
        width: 450px;
        height: 250px;
        object-fit: cover;
        object-position: 0px 0px;
        zoom: 111%;           
    }

    .productinfo {
        width: 450px;
    }
    
    .tekst {
        grid-area: tekst;
    }
        
    .tekst p {
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 20px;
    }    

    button {
        width: 450px;
        margin-top: 5px;      
    }
}


/* ----------------  DESKTOP  ----------------*/
@media only screen and (min-width: 1441px){

    body {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .main-container {
        width: 1540px;
        background-color: white;       
    }
    
    .wrapper {
        display: grid;
        grid-template-areas: 
                "header-wrap header-wrap search-wrap search-wrap"
                "logo bronden vloerkleed-2 vloerkleed-2"
                "vloerkleed-1 vloerkleed-1 vloerkleed-2 vloerkleed-2"
                "vloerkleed-1 vloerkleed-1 kies hoe"
                "tekst tekst productinfo productinfo";
        grid-template-columns: 360px 360px 360px 360px;
        grid-template-rows: auto;       
    }

    .header-wrap {        
        grid-area: header-wrap;
        width: 720px;
        height: 80px; 
        margin-top: 20px;  
    }    

    .header {
        width: 380px;
        height: 50px; 
    }

    .search-wrap {       
        grid-area: search-wrap;
        width: 720px;
        height: 80px;
        margin-top: 20px;  
    }

    .search {
        justify-self: end;
        width: 280px;
        border: 3px solid black;       
    }

    .search img{
        width: 35px;
        float: right;
    }
    
    .search h2{
        padding: 12px 0px;
        padding-left: 5px;
        font-weight: 400;
        font-size: 16px;
        width: 220px;
    }

    .logo {
        grid-area: logo;
    }

    .logo img{
       width: 100%;
       height: 100%;
    }

    .bronden {
        grid-area: bronden;
        width: 360px;
    }

    .bronden h1 {
        margin-top: 10px;
        padding: 10px;
        padding-left: 20px;           
    }
    
    .bronden p {
        padding-left: 20px;   
        margin-top: -60px;
        font-size: 17px; 
        font-size: 14px;
    } 
    
    .bronden p + p {  
        padding-left: 20px;       
    }

    .vloerkleed-1 {
        grid-area: vloerkleed-1;
        width: 720px;
        height: 530px;  
        margin-top: -20px;     
    }

    .vloerkleed-1 img {
        width: 720px;
        height: 530px;
        object-fit: cover;
        object-position: 0px -110px;
    }

    .vloerkleed-2  {
        grid-area: vloerkleed-2;
        width: 720px;
        height: 530px;
        overflow: hidden;
    }

     .vloerkleed-2 img {
        grid-area: vloerkleed-2;
        width: 720px;
        height: 410px;
        object-fit: cover;
        object-position: 0px 0px;
        zoom: 111%;          
    }

    .tekst p {
        margin-top: -10px;
        grid-area: tekst;
        width: 720px;
        font-size: 16px;
    }

    .kies {
        margin-top:-70px;
        grid-area: kies;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .kies .border, .hoe .border{        
        display: none;
    }

    .productinfo {
        width: 720px;
        grid-area: productinfo;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 10px;
        border-block: 1px solid var(--Light-gray);
        padding: 15px;
    }

   .hoe {
        margin-top: -70px;
        grid-area: hoe;
    }
    
    button {
        width: 280px;
        margin-top: 5px;  
        font-size: 16px;    
    }
} 